body {
  font-size: 16px;
  color: black;
  background-color: white;
  font-family: "Roboto", sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #DEDCDC;;
  border-radius: 0;
  border: 1px solid black;
}

.navbar-brand {
  padding-top: 15px;
}
.navbar-brand h1 { /* Restaurant name */
  color: black;
  font-size: 1.5vw;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-header button.navbar-toggle{
  border: 1px solid black;
  margin-top: 15px;
}

.navbar-collapse {
  padding: 0;
}

#nav-list {
  margin: 0;
  padding: 0;
}
#nav-list a {
  background-color: #787675;
  border: 0.5px solid black;
  color: black;
  text-align: center;
  font-size: 1.2em;
}
#nav-list a:hover {
  background: white;
}
/* END HEADER */

/* MAIN CONTENT */
#main-content {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
}

#main-content h2{
  font-size: 2.5em;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 40px;
}

.menu-box {
  background-color: #DEDCDC; 
  border: 1px solid black;
  width: 100%;
  padding-left: 2%;  
  padding-right: 1%;   
  padding-bottom: 1%;         
}

.menu-title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

/********** Large devices only **********/
@media (min-width: 1200px) {
  #main-content {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .navbar-brand h1 { /* Restaurant name */
  font-size: 3vw; /* 1vw = 1% of viewport width */
  }

  #main-content {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
  }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-brand h1 { /* Restaurant name */
  font-size: 3vw; /* 1vw = 1% of viewport width */
  }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
    #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
}
